body {
    background: #121212 27.26%;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 70vw;
    min-height: 70vh;
    margin: auto;
}

.header {
    text-align: center;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 4%;
    background: #000000;
    border-radius: 50px;
    margin-top: 4vh;
    border: 2px solid  rgb(251, 66, 116); 
    box-shadow: 0 4px 4px rgb(248, 78, 96);
}

.avatar-profile {
    display: flex;
    max-width: 200px;
    border-radius: 460px;
    border: 2px solid  rgb(251, 66, 116);   
    box-shadow: 0 4px 4px rgb(248, 78, 96);
}

.text-profile {
    
}

.text-profile h1 {
    font-size: 2.5rem;
    font-weight: 700;
    padding-top: 2vh;
    color: #F5F5F5;
}

.text-profile h1:hover {
    font-size: 2.6rem;
    font-weight: 700;
    padding-top: 2vh;
    text-shadow: 2px 2px 2px rgb(248, 78, 96);
    cursor: none;
}

.text-profile h2 {
    font-size: 1.3rem;
    font-weight: 400;
    padding-top: 1vh;
    color: #F5F5F5;
}

.theme {
    margin-top: 4vh;
}


.fa-sun, .fa-moon {
    background: linear-gradient(to right, #f32170, #ffeb07);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 30px;
}



main {
    margin: 5vh 0 0 0;
    text-align: center;
}

.project {
    display: flex;
    flex-direction: column;
    border: 2px solid  rgb(251, 66, 116); 
    box-shadow: 0 4px 4px rgb(248, 78, 96);
    background: #000000;
    border-radius:50px;
}

.project ul {
    font-weight: 700;
    font-size: 2rem;
    color: #F5F5F5;
    padding-top: 4vh;
}

.project h3 {
    color: #F5F5F5;
    padding-top: 2vh;
    font-size: 1.2rem;
}

.project h4 {
    color: #F5F5F5;
    font-size: 1.2rem;
    margin-top: 2vh;
}

.project h4:hover {
    font-weight: 700;
    text-shadow: 2px 2px 2px rgb(248, 78, 96);
}

.project h5 {
    color: #F5F5F5;
    line-height: 2rem;
    font-size: 1.2rem;
}

.project img {
    max-width: 60vw;
    opacity: 0.4;
    border:2px solid #14151b;
    border-radius: 40px;
    box-shadow: 0 4px 4px rgb(248, 78, 96);
}

.project img:hover {
    opacity: .7;
}

footer {
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.links {
    display: flex;
    justify-content: center;
    padding-bottom: 1vh;
}

.fa-brands{
    color: #F5F5F5;
    font-size: 50px;
    margin-left: 2vw;
}

.fa-brands:hover{
    opacity: .5;
}

.alura-logo {
    width: 50px;
    border-radius: 100px;
    margin-left: 2vw;    
}

.alura-logo:hover {
    opacity: .5;
}

.dev {
    color: #F5F5F5;
    opacity: .6;
    text-align: center;
    margin-bottom: 6vh;
    letter-spacing: .5rem;
    font-weight: 700;
}

.dev:hover {
    opacity: 1;
    font-size: 1.3rem;
    transition: .9s all;
    cursor:pointer;
    letter-spacing: .6rem;
}


.light {
    background-color: #F5F5F5;
  }
    
  .light .container {
    background: #F5F5F5;
  }

  .light .fa-brands {
    color: #121212;
  }

  .light .dev {
    color: #121212;
  }


  @media (max-width: 500px) {

    body {
        margin: auto;
        padding: 2vw;
        width: 100vw;
    }

    .container {
        margin: unset;
        padding-top: 0vh;
        width: 90vw;
    }

    .profile {
        width: 90vw;
    }

    .project {
        width: 95vw;
    }

    .project img {
        max-width: 90vw;
    }

    .dev {
        letter-spacing: 4px;
    }

  }